{% extends 'base1.html' %}
{% block title%}文章{% endblock %}
{% block styles %}
    {{ super() }}
<style>
    a:hover{text-decoration: none}
    #content{background-image: url("{{ url_for('static',filename='image/detail_back.jpg') }}");margin:5px;padding:5px;}
    #detail{margin-bottom: 40px}
    #detail p{margin-top: 40px}
    #detail span{margin-top: 10px}
    #content span{margin: 0px 10px;}
</style>
{% endblock %}
{% block content %}
<div class="container">
    {% for article in pagination.items %}
    <div id="content">
        <div id="detail">
            <h3><a href="{{ url_for('article.wenzhang') }}?aid={{ article.id }}">{{ article.title }}</a></h3>
            <span>作者：{{ article.user.username }}</span>
            <p>{{ article.content | cdecode | safe}}</p>
        </div>
        <span>发表时间：{{ article.pdatetime }}</span>
        <span>点击：{{ article.click_num }}</span>
        <span>收藏：{{ article.save_num }}</span>
        <span>点赞：{{ article.love_num }}</span>
        <span>文章类型：{{ article.article_type.type_name }}</span>
    </div>
    {% endfor %}
    <nav aria-label="Page navigation" class="col-md-offset-4">
      <ul class="pagination">
        {% if pagination.has_prev %}
        <li>
          <a href="{{ url_for('article.detail') }}?page={{ pagination.prev_num }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        {% for page_num in range(1,pagination.pages + 1) %}
            {% if pagination.page==page_num %}
                <li class="active"><a href="{{ url_for('article.detail') }}?page={{ page_num }}">{{ page_num }}</a></li>
            {% else %}
                <li><a href="{{ url_for('article.detail') }}?page={{ page_num }}">{{ page_num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <li>
          <a href="{{ url_for('article.detail') }}?page={{ pagination.next_num }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
</div>
{% endblock %}