{% extends 'base1.html' %}
{% block title %}关于我{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        #left{background-image: url("{{ url_for('static',filename='image/left_back.jpg') }}") ;
              min-height: 500px; }
        #left ul{margin-top: 10px;margin-left: 8px;}
        #right{background-image: url("{{ url_for('static',filename='image/right_back.jpg') }}") ;
               min-height: 500px;}
        #tijiao{margin-top: 10px;}
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div id="left" class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" ><a href="{{url_for('user.user_center')}}" >信息修改</a></li>
                <li role="presentation"><a href="{{ url_for('article.publish') }}">发表文章</a></li>
                <li role="presentation"><a href="{{ url_for('user.add_photo') }}">添加照片</a></li>
                <li role="presentation" class="active"><a href="{{ url_for('user.aboutme') }}">关于我</a></li>
                <li role="presentation"><a href="{{ url_for('user.manage_message') }}">留言管理</a></li>
            </ul>
        </div>
        <div id="right" class="col-md-10">
        <form action="{{ url_for('user.aboutme') }}" method="post">
            <div class="form-group">
                <div class="col-md-8">
                <h3>自我介绍</h3>
                <textarea name="content" class="mytextarea col-md-12 form-control" rows="5">

                </textarea>
                <div class="form-group">
                    <input id="tijiao" type="submit" value="提交">
                </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='tinymce/tinymce.min.js') }}"></script>
    <script>
    $(function () {
        //设置富文本
        tinymce.init({
            selector:'.mytextarea',
            height:350,
            plugins:"quickbars emoticons",
            inline:false,
            toolbar:true,
            menubar:true,
            quickbars_selection_toolbar:'bold italic | link h2 h3 blockquote',
            quickbars_insert_toolbar:'quickimage quicktable',
        });
    })
    </script>
{% endblock %}